<app-header></app-header>
<div class="row me-0">
    <div class="col-3">
        <router-outlet name="sideBar"></router-outlet>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <app-inline-template></app-inline-template>
<app-inline-style></app-inline-style>
<app-inline-template-style></app-inline-template-style>
<app-no-spec></app-no-spec>
<app-string-interpolation></app-string-interpolation> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-input-value></app-input-value> -->
<!-- <app-counter-example></app-counter-example> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-ng-if-example></app-ng-if-example> -->
<!-- <app-ng-switch-example></app-ng-switch-example> -->
<!-- <app-ng-for-example></app-ng-for-example> -->
<!-- <app-child [data]="title" (event)="data=$event"></app-child>
<h1 class="bg-primary p-5 text-center mt-2">{{data}}</h1> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-products></app-products> -->
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<app-footer></app-footer>