<p>pipe-example works!</p>
<!-- <h4>text</h4>
<h4>{{text | uppercase}}</h4>
<h4>{{text | lowercase}}</h4>
<h4>{{text | titlecase}}</h4>
<h4>{{text | slice:3}}</h4>
<h4>{{text | slice:3:6}}</h4>
<h4>{{obj | json}}</h4>
<h4>{{obj | json}}</h4> -->
<!-- <br>
<h2>Date Pipe</h2>
<h4>Short date | {{date | date:"short"}}</h4>
<h4>Medium date | {{date | date:"medium"}}</h4>
<h4>Long date | {{date | date:"long"}}</h4>
<h4>Full date | {{date | date:"full"}}</h4>
<h4>Hours | {{date | date:"h"}}</h4>
<h4>Minutes | {{date | date:"m"}}</h4>
<h4>Seconds | {{date | date:"s"}}</h4>
<h4>AM/PM | {{date | date:"a"}}</h4>
<h4>Time in h:m:s a format | {{date | date:"h:m:s a"}}</h4>
<h4>Day | {{date | date:"d"}}</h4>
<h4>Month | {{date | date:"M"}}</h4>
<h4>Year | {{date | date:"y"}}</h4>
<h4>Date in d/M/y format | {{date | date:"d/M/y"}}</h4>
<h4>Date in d/M/y format | {{date | date:"d/MMM/y"}}</h4> -->
<!-- <br>
<h2>Currency Pipe</h2>
<h4>{{100 | currency}}</h4>
<h4>{{100 | currency:"INR"}}</h4>
<h4>{{100 | currency:"EUR"}}</h4>
<h4>{{100 | currency:"GBP"}}</h4>
<h4>{{145 | currency:"INR": "code"}}</h4>
<h4>{{1532 | currency:"INR": "symbol": "6.4-5"}}</h4>
<br>
<h2>Number Pipe</h2>
<h4>{{112.46 | number:"4.3-4"}}</h4>
<h4>{{112.46 | number:"4.1-1"}}</h4>
<br>  
<h2>Percent Pipe</h2>
<h4>{{23 | percent}}</h4>
<h4>{{0.45 | percent}}</h4>
<br> -->
<h2>Custom Pipe</h2>
<h4>{{5 | cube}}</h4>