<h1>Home</h1>
<div class="row">
    <div class="col-4">
        <app-card>
            <img src="https://1.bp.blogspot.com/-jWBIFsChc9E/XuI9qEPX7eI/AAAAAAAAFpI/unR9w-ZUj0AsH5LpSGo5TCokWmAisPFawCK4BGAsYHg/s1920/bmw-i8_100634676_h.jpg"
                class="card-img-top" alt="bmw">
            <h5 class="card-title">BMW i8</h5>
            <p class="card-text">The BMW i8 is a plug-in hybrid sports car developed by BMW. The i8 is part of BMW's
                electric fleet "Project i" being marketed as a new sub-brand, BMW i8.</p>
        </app-card>
    </div>
    <div class="col-4">
        <app-card>
            <img src="https://www.thedrive.com/content-b/message-editor/1618507151788-sf90inline.jpg?quality=60"
                class="card-img-top" alt="bmw">
            <h5 class="card-title">Ferrari</h5>
            <p class="card-text">Ferrari's first PHEV car was the SF90 Stradale, which as well as a small plug-in system has a reassuringly large amount of turbocharged V8.</p>
        </app-card>
    </div>
    <div class="col-4">
        <app-card>
            <img src="https://s1.cdn.autoevolution.com/images/news/gallery/2018-nissan-370z-heritage-edition_4.jpg"
                class="card-img-top" alt="bmw">
            <h5 class="card-title">Nissan 370z</h5>
            <p class="card-text">The Nissan 370Z (known as the Fairlady Z Z34 in Japan) is a 2-door, 2-seater sports car manufactured by Nissan Motor Company.</p>
        </app-card>
    </div>
</div>